<form>
  <label for="weaponType">Weapon Type</label>
  <select class="form-control" id="weaponType" required>
    <option *ngFor="let type of weaponTypes" [value]="selectedType">{{type}}
    </option>
  </select>
  <div *ngIf="selectedType">
    <div *ngFor="let rivenStat of rivenStats | restrictByWeapon: selectedType">
      {{rivenStat.name}} :
      <select class="form-control">
        <option *ngFor="let type of desirabilities" [value]="rivenStat.desirability">{{type}}</option>
      </select>
    </div>
  </div>
</form>
