<form>
  <label for="weaponType">Weapon Type:</label>
  <select id="weaponType" [(ngModel)]="selectedType" name="selectedType" required>
    <option *ngFor="let type of weaponTypes" [value]="type">{{type}}
    </option>
  </select>
  <label for="negativeStats">Negative Stats:</label>
  <select id="negativeStats" [(ngModel)]="negativeStats" name="negativeStats" required>
    <option *ngFor="let desirability of desirabilities" [value]="desirability">{{desirability}}
    </option>
  </select>
  <div *ngIf="selectedType">
    <hr>
    <app-riven-stat-selector [rivenStats]="positiveRivenStats" [selectedType]="selectedType"></app-riven-stat-selector>
    <hr>
    <app-riven-stat-selector *ngIf="negativeStats !== 'Not Allowed'" [negative]="true" [rivenStats]="negativeRivenStats" [selectedType]="selectedType"></app-riven-stat-selector>
    <hr>
    <button (click)="generate(selectedType, negativeStats)">Generate!</button>
  </div>
  <div *ngIf="resultString">
    <div>{{resultString}}</div>
  </div>
</form>
