<div *ngFor="let rivenStat of positiveStats | restrictByWeapon:selectedType">
  <div class="riven-stat" fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="combined[rivenStat.name].class">
    <div class="positive-stat" fxLayout="row" fxLayoutAlign="center center">
      <div class="stat-label">
        {{rivenStat.name}} :
      </div>
      <mat-button-toggle-group
        [value]="rivenStat.posDesirability"
        (change)="updateDesirability(rivenStat.name, true, group.value)"
        #group="matButtonToggleGroup"
        name="{{rivenStat.name + ':positive'}}">

        <mat-button-toggle *ngFor="let type of desirabilities" [value]="type">{{type}}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="negative-stat" fxLayout="row" fxLayoutAlign="center center" *ngIf="negativeAllowed && !rivenStat.negativeBlocked">
      <div class="stat-label">
        as Negative:
      </div>
      <mat-button-toggle-group
        [value]="combined[rivenStat.name].negative.negDesirability"
        (change)="updateDesirability(rivenStat.name, false, group.value)"
        #group="matButtonToggleGroup"
        name="{{rivenStat.name + ':negative'}}">

        <mat-button-toggle *ngFor="let type of desirabilities" [value]="type">{{type}}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
